/*Bienvenidos*/
#bienvenidos{
	border-radius: 20px;
	color: #2984bd;
	width: 84%;
	display: inline-block;
	margin-left: 8%;
	background: #ffffff;

}
.bienvenidos_1{
	display: inline-block;
	width: 42%;
	margin-right: 0;
	margin-left:  0;
	margin-top: 3.5%;
	border: 3px solid #2984bd;
	border-radius: 5%;
	padding-top: 3%;
	padding-bottom: 2.8%;
	padding-left: 2%;
	padding-right: 2%;
}

.bienvenidos_2{
	display: inline-block;
	width: 42%;
	vertical-align: top;
	margin-left:  3%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.bienvenidos_2 img{
	width: 100%;
	border: 3px solid white;
	border-radius: 5%;
}


/*Nuestra Historia*/
#blog_Contenido{
	
	width: 100%;
	display: inline-block;
	color: white;
	background: #2984bd;
	margin-bottom: 2%;	
}


#blog h3, h4{
	text-align: center;
	margin-top: 3%;
}
#blog p{
	text-align: justify;
	margin-left: 15%;
	width: 70%;
}

#blog .contenedor{
	margin-top: 2%;
	margin-bottom: 3%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#blog article{
	margin: 15px;
}

#blog img {
	width: 100%; 
	max-width: 280px;
	border: 3px solid #2984bd;
	border-radius: 5%;
}