#menu-bar{
	display: none;
}
/*Menú Responsive Click*/
header label{
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}

.contenedor #LetraLogo{
text-decoration: none;
color: #fff;
}

/*Menú Responsive - Desplegable al hacer click*/
.menu{
	position: absolute;
	top: 60px;
	left: 0;
	width: 40%;
	height: 100vh;
	background:#2984bd;
	transition: all 0.5s;
	transform: translate(-100%);
	

}



.menu a {
	display: block;
	color: #fff;
	height: 60px;
	text-decoration: none;
	padding: 20px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	
}


.menu a:hover {
	background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
	transform: translate(0%);
}
.menu .Buscar{
	display: inline-block;

}
.menu .Buscar #bar{
	
	background: white;
	width: 45px;
	height: 25px;
	margin-top: 34%;
	padding-left: 20px;
	margin-left: 3px;

}
.menu .Buscar img{
	position: absolute;
	float: left;
	margin-top: 20px;
	margin-left: 5px;
	width: 20px;
}
.menu .Buscar #bar:Focus {
	background: white;
	width: 170px;
	margin-top: 15px;
	box-shadow: rgba(0,0,0,0.9) 0px 0px 10px;
	transition: all 0.1s;
	margin-left: 3px;
	padding-bottom: 12px;
}
.
.menu .Buscar #bar:Blur {
	background: red;
	
}




@media (min-width: 1024px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translate(0%);
		float: right;
		display: flex;
	}
	.menu a{
		border:none;
	}
	header label {
		display: none;
	}
}

/*Efeco menu busqueda*/

.content-search{
    width: 100%;
    height: 50vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: none;
}

.content-table{
    width: 100%;
    float: right;
    max-height: 200px;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: right;
}

tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}







