#menu-bar{
	display: none;
}
/*Menú Responsive Click*/
header label{
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}

/*Menú Responsive - Desplegable al hacer click*/
.menu{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100vh;
	background:#2984bd;
	transition: all 0.5s;
	transform: translate(-100%);
}

.menu a {
	display: block;
	color: #fff;
	height: 60px;
	text-decoration: none;
	padding: 20px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
	background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
	transform: translate(0%);
}

@media (min-width: 1024px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translate(0%);
		float: right;
		display: flex;
	}
	.menu a{
		border:none;
	}
	header label {
		display: none;
	}
}